[cmdk-dialog] {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 25%;
  left: 0;
  z-index: 1001;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
}

[cmdk-overlay] {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  backdrop-filter: blur(4px);

  @apply bg-black-64;
}

[cmdk-root] {
  position: relative;
  top: 25%;
  max-width: 640px;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 300ms ease;

  @apply bg-white bg-opacity-90 dark:bg-opacity-95 shadow-md dark:border dark:border-white-10 dark:bg-gray-1;
}

[cmdk-list]::-webkit-scrollbar {
  display: none;
}

[cmdk-input] {
  border: none;
  width: 100%;
  padding: 8px 8px 16px 8px;
  outline: none;
  background: transparent;
  border-bottom: 1px solid;
  border-radius: 0;

  @apply mb-4 border-black-10 bg-transparent text-lg text-black dark:border-white-10 dark:text-white;
}

[cmdk-input]:focus,
[cmdk-input]:active {
  outline: 0 !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;

  @apply border-black-10 dark:border-white-10;
}

[cmdk-input]::placeholder {
  @apply text-black-48 dark:font-light dark:text-white-32;
}

[cmdk-page-badge] {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
  margin: 4px 0 4px 4px;
  user-select: none;
  text-transform: capitalize;

  @apply bg-black-8 px-2 py-0.5 font-medium text-black-72 dark:bg-white-8 dark:font-normal dark:text-white-56;
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;

  @apply flex items-center gap-3 rounded-lg px-3.5 py-3 text-sm text-black-56 dark:text-white-48;
}

[cmdk-item][data-selected="true"] {
  @apply bg-black-5 text-black dark:bg-white-8 dark:text-white;
}

[cmdk-item][data-disabled="true"] {
  cursor: not-allowed;
  @apply text-black-32 dark:text-white-32;
}

[cmdk-item]:active {
  transition-property: background;

  @apply bg-black-5 dark:bg-white-8;
}

[cmdk-item] + [cmdk-item] {
  @apply mt-1;
}

[cmdk-item] svg {
  width: 18px;
  height: 18px;
}

[cmdk-list] {
  height: 100%;
  max-height: 316px;
  overflow: scroll;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

[cmdk-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 6px;
}

[cmdk-shortcuts] kbd {
  font-size: 12px;
  min-width: 20px;
  padding: 4px;
  height: 20px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  @apply bg-black-5 font-semibold uppercase text-black-64 dark:bg-white-8 dark:font-normal dark:text-white-56;
}

[cmdk-shortcuts] label {
  @apply ml-0.5 text-xs dark:text-white-56 text-black-64 font-medium dark:font-normal;
}

[cmdk-footer] {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;

  @apply mt-2 justify-between gap-5 border-t border-black-10 px-2 pb-2 pt-4 dark:border-white-10;
}

[cmdk-footer-container] {
  @apply flex items-center gap-5;
}

[cmdk-footer-item] {
  @apply flex items-center;
}

[cmdk-group]:not([hidden]) + [cmdk-group] {
  @apply mt-2;
}

[cmdk-group-heading] {
  @apply mb-2 flex select-none items-center px-2 text-xs font-medium text-black-64 dark:font-light dark:text-white-56;
}

[cmdk-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: pre-wrap;

  @apply font-light text-white-56;
}
