@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/Inter-Variable.ttf") format("truetype");
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-white;
}

::selection {
  @apply bg-accent-11 text-gray-DARK;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

[nav-item-underline]::before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  left: 16px;
  right: 16px;
  bottom: 0;
  border-bottom: 2px solid white;
}

[magic-card] {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin: 0 8px;
  border-radius: 12px;
  overflow: hidden;
  background: hsla(0, 0%, 100%, 0.12);
}

[magic-card-inner] {
  position: absolute;
  inset: 1px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
}

[magic-card]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;

  background: radial-gradient(
    700px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: 1;
}
