@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Inter-Variable.ttf') format('truetype');
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply dark:bg-gray-DARK bg-white dark:text-white text-gray-DARK;
}

::selection {
  @apply bg-primary-11 text-gray-DARK;
}