@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/Inter-Variable.ttf") format("truetype");
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-DARK text-white;
}

::selection {
  @apply bg-accent-11 text-gray-DARK;
}

[nav-item-underline]::before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  left: 16px;
  right: 16px;
  bottom: 0;
  border-bottom: 2px solid white;
}